body{
      margin: 0%;
      border: 0;
      padding: 0%;
  }
  .navbar-left{
  position: fixed;
  top : 0;
  width: 15%;
  padding: 30px 10px ;
  font-size: 20px;
  position: fixed;
  color: #FFF;
  background: black;
  transition: 0.4s;
  opacity: 100%;
  z-index: 11;

}


.navbar-left:after{
        content: " ";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background: black;
        transform-origin: bottom left;
        -ms-transform: skew(-30deg, 0deg);
        -webkit-transform: skew(-30deg, 0deg);
        transform: skew(-30deg, 0deg);
}
    
    
    .companylogo img{
    height: 80%;
    width: 80%;
    }
    #navbar-right{
        position: fixed;
        top: 3%;
        padding: 10px 10px;
        width: 100%;
        z-index: 10;
        background-color:rgba(38, 71, 108,0.4);
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
        opacity: 100%;
        transition: 0.4s;
    }
    
    .navbar-right a{
        margin-right: 2%;
        float: right;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .navbar-right a:hover {
        background-color: #f8a54d;
        color: white;
        
      }
      .active {
        background-color: #f8a54d;
        color: white;
        font-family: unset;
      }

      /*responsive icon */
      .navbar-right .icon {
        display: none;
      }
      @media screen and (max-width: 600px) {
        .navbar-right a:not(:first-child) {display: none;}
        .navbar-right a.icon {
          float: right;
          display: block;
        }
      }
      @media screen and (max-width: 600px) {
        .navbar-right.responsive {position: relative;}
        .navbar-right.responsive a.icon {
          position: absolute;
          right: 0;
          top: 0;
        }
        .navbar-right.responsive a {
          float: none;
          display: block;
          text-align: left;
        }
      }   
      /*CSS for Slideshow*/
      /* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  repeat: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #f8a54d;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

  





  /* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
  @media screen and (max-width: 580px) {
    #navbar {
      padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    #navbar-right {
      float: none;
    }
  }